<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SamplSuite">
  <test verbose="2" name="Sample Testng test">
    <classes>
      <class name="Tenxlabs.AutomationTesting.TestCase01"/>
      <class name="Tenxlabs.AutomationTesting.TestCase02"/>
      <class name="Tenxlabs.AutomationTesting.ExampleTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
